---
import BaseLayout from '../layouts/BaseLayout.astro';


const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>
  <!-- <div class="container">
    <a href="/about/">Read more</a>
  </div>  -->

    <p class="pt-20 text-slate-500">Front End Engineer proficient in the full front end stack. Interested in building products, design systems, user experience, and build tooling.</p>


  
    <p class="font-bold text-xl pt-20">Find Me Online</p>

    <div>
      <div class="">
        <img src="/icons/github-icon.svg" alt="GitHub Icon" class="w-6 h-6" />
        
      </div>
    </div>






</BaseLayout>


