---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>
  <!-- <div class="container">
    <a href="/about/">Read more</a>
  </div>  -->
  <div class="pt-20 text-slate-500 ">
    <p >Front End Engineer proficient in the full front end stack. Interested in building products, design systems, user experience, and build tooling.</p>
  </div>




</BaseLayout>


