---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <a href="/about/">Read more</a>
  </div> 
</BaseLayout>

<style>

</style>
