---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Mark Wild Portfolio';
---

<BaseLayout pageTitle={pageTitle}>
  <div class='text-slate-800'>
    <p class='text-5xl bold pb-10 font-roboto'>Mark Wild</p>
    <div class='text-2xl'>
      <p class='pb-10'>
        Hey! I'm Mark, and I’ve spent 5 years in the Aerospace industry, helping

        <a
          href='https://astra.com/'
          target='_blank'
          rel='noopener noreferrer'
          class='text-blue-500 hover:underline'
          >launch rockets and manufacture satellite engines.
        </a> I have over a decade of service industry experience, as well as a
        background in software engineering, and I currently specialize in IT
        infrastructure. I like to solve technical problems by bridging talent,
        technology, and strategy to deliver impactful results. I am interested
        in education, <a
          href='https://en.wikipedia.org/wiki/Third_place'
          target='_blank'
          rel='noopener noreferrer'
          class='text-blue-500 hover:underline'
          >third spaces
        </a>, literature, and the environment.
      </p>
      <p>
        You can also find me on
        <a
          href='https://github.com/MorkWood2'
          target='_blank'
          rel='noopener noreferrer'
          class='text-blue-500 hover:underline'>GitHub</a
        >
         and
        <a
          href='https://www.linkedin.com/in/mark-wild/'
          target='_blank'
          rel='noopener noreferrer'
          class='text-blue-500 hover:underline'>LinkedIn</a
        >.
      </p>
    </div>
  </div>
</BaseLayout>
