---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>
  <div class='container__header'>
    <div class='container__header--title'>Mark Wild</div>
    <div class='container__header--subtitle'>Software Developer</div>
  </div>
</BaseLayout>

<style>
  .container__header {
    display: flex;
    flex-direction: column;
  }

  .container__header--title {
    font-size: 3rem;
  }
</style>
