---
import BaseLayout from '../layouts/BaseLayout.astro';


const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>
  <!-- <div class="container">
    <a href="/about/">Read more</a>
  </div>  -->

    <p class="pt-20 text-slate-500">Front End Engineer proficient in the full front end stack. Interested in building products, design systems, user experience, and build tooling.</p>


  
    <p class="font-bold text-xl pt-20">Find Me Online</p>

    <div class="grid grid-cols-4 sm:grid-cols-8 auto-rows-fr gap-6 sm:gap-8 md:gap-10 styles_grid__gTYcE">
      <div class="border border-zinc-200 relative rounded-xl sm:rounded-2xl md:rounded-3xl overflow-clip col-span-4 row-span-1 bg-white hover:shadow-lg transition">
        <img src="/icons/github-icon.svg" alt="GitHub Icon" class="w-6 h-6" />
        
      </div>
      <!-- <div class="col-span-5 row-span-2 border border-black">
        <img src="/icons/github-icon.svg" alt="GitHub Icon" class="w-6 h-6" />
        
      </div>
      <div class="col-span-5 row-span-2 border border-black">
        <img src="/icons/github-icon.svg" alt="GitHub Icon" class="w-6 h-6" />
        
      </div>
      <div class="border border-zinc-200 relative rounded-xl sm:rounded-2xl md:rounded-3xl overflow-clip col-span-4 row-span-1 bg-white hover:shadow-lg transition">
        <img src="/icons/github-icon.svg" alt="GitHub Icon" class="w-6 h-6" />
        
      </div> -->
    </div>






</BaseLayout>


