---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle (this is generated from the slot element)</h2>
</BaseLayout>
