---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Projects';
---

<BaseLayout pageTitle={pageTitle}>
  <div class='grid grid-cols-4 grid-rows-4 gap-4 h-60'>
    <div
      class='col-span-2 row-span-4 border border-zinc-300 p-5 rounded-3xl group hover:animate-icon'
    >
      <div class='flex flex-row'>
        <div class='flex flex-col gap-24'>
          <div class='flex flex-col'>
            <img
              src='/icons/github-icon.svg'
              alt='GitHub Icon'
              class='w-8 h-9 pb-1'
            />
            <p>Prompt Share</p>
            <p class='text-xs text-zinc-500'>Store your favorite AI prompts</p>
          </div>
          <div>
            <a
              href='https://github.com/MorkWood2/prompt-share'
              class='text-sm border border-zinc-300 py-1 px-2 rounded-md bg-slate-50 transition duration-300 shadow hover:shadow-md'
            >
              Star
            </a>
          </div>
        </div>
        <div class='flex flex-col'>
          <img
            src='/icons/prompt-share-icon.svg'
            alt='project promptshare icon'
            class='w-20 h-20 mt-auto ml-28 transition-transform transform group-hover:rotate-45'
          />
        </div>
      </div>
    </div>

    <div class='col-span-2 row-span-2'></div>
    <div class='col-span-2 row-span-2 border border-zinc-300 p-3 rounded-2xl'>
      <img
        src='/icons/github-icon.svg'
        alt='GitHub Icon'
        class='w-8 h-9 pb-1'
      />
      <p>Covid Tracker</p>
      <div class='flex items-baseline justify-between'>
        <p class='text-xs text-zinc-500'>Data visualization</p>
        <a
          href='https://github.com/MorkWood2/covid-tracker'
          class='text-sm border border-zinc-300 py-1 px-2 rounded-md bg-slate-50 transition duration-300 shadow hover:shadow-md'
        >
          Star
        </a>
      </div>
    </div>
  </div>
</BaseLayout>
