---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Projects';
---

<BaseLayout pageTitle={pageTitle}>
  <div class='grid grid-cols-4 grid-rows-4 gap-10 h-60'>
    <div class='col-span-2 row-span-4 border border-zinc-300 p-4 rounded-3xl'>
      <p>Project 1</p>
    </div>

    <div class='col-span-2 row-span-2 border border-zinc-300 p-4 rounded-3xl'>
      <p>Project 2</p>
    </div>
    <div class='col-span-2 row-span-2 border border-zinc-300 p-4 rounded-3xl'>
      <p>Project 3</p>
    </div>
  </div>
</BaseLayout>
