---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About';
---

<BaseLayout pageTitle={pageTitle}>
  <p class='text-slate-500'>
    Experienced Front End Engineer with expertise across the entire front-end
    stack. Passionate about crafting products, developing design systems,
    enhancing user experiences, and creating effective build tooling.
  </p>

  <p class='font-semibold text-lg py-10'>Experience</p>

  <div class='grid grid-cols-2 grid-rows-1 gap-4'>
    <div class='col-span-1 row-span-1 border border-zinc-300 p-4 rounded-2xl'>
      <div class='flex items-center gap-4'>
        <img
          src='/icons/astra-logo.png'
          alt='astra space company logo'
          class='h-6 w-6'
        />
        <div class='text-sm'>
          <p>Software Developer · Astra Space</p>
          <p class='text-xs text-zinc-500'>2022 — 2023</p>
        </div>
      </div>
      <ul class='list-disc text-xs pl-10 text-zinc-500 pt-2'>
        <li class=''>Full front end stack development</li>
        <li class=''>
          Tech Lead for Astra TV, a video platform for Launch Ops
        </li>
        <li class=''>Built a manufacturing order tracker</li>
        <li class=''>
          Maintained and scaled flagship data visualization tool for test and
          launch
        </li>
      </ul>
    </div>
    <div class='col-span-1 row-span-1 border border-zinc-300 p-4 rounded-2xl'>
      Exp 1
    </div>
  </div>
</BaseLayout>
