---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About';
---

<BaseLayout pageTitle={pageTitle}>
  <p class='text-slate-500'>
    Experienced Front End Engineer with expertise across the entire front-end
    stack. Passionate about crafting products, developing design systems,
    enhancing user experiences, and creating effective build tooling.
  </p>

  <p class='font-semibold text-lg py-10'>Experience</p>

  <div class='grid grid-cols-2 grid-rows-1 gap-4'>
    <div class='col-span-1 row-span-1 border border-zinc-300 p-4 rounded-2xl'>
      <div class='flex items-center gap-4'>
        <img
          src='/icons/astra-logo.png'
          alt='astra space company logo'
          class='h-6 w-6'
        />
        <div class='text-sm'>
          <p>Software Developer · Astra Space</p>
          <p class='text-xs text-zinc-500'>2022 — 2023</p>
        </div>
      </div>
      <ul class='list-disc text-xs pl-10 text-zinc-500 pt-2'>
        <li class=''>Full front end stack development</li>
        <li class=''>
          Tech Lead for Astra TV, a video platform for Launch Ops
        </li>
        <li class=''>Built a manufacturing order tracker</li>
        <li class=''>
          Maintained and scaled flagship data visualization tool for test and
          launch
        </li>
      </ul>
    </div>
    <div class='col-span-1 row-span-1 border border-zinc-300 p-4 rounded-2xl'>
      <div class='flex items-center gap-4'>
        <img
          src='/icons/east-bay-react-symbol.png'
          alt='east bay react meetup group logo'
          class='h-8 w-8'
        />
        <div class='text-sm'>
          <p>Founder · East Bay React</p>
          <p class='text-xs text-zinc-500'>2020 — 2021</p>
        </div>
      </div>
      <ul class='list-disc text-xs pl-10 text-zinc-500 pt-2'>
        <li class=''>
          Created a local network of online professionals who love the
          Javascript library React.
        </li>
        <li class=''>
          Lead talks on React components, hooks, project structure, web page
          rendering, and git workflows
        </li>
      </ul>
    </div>
  </div>
  <p class='font-semibold text-lg pt-10 pb-5'>Projects</p>

  <ul class='list-disc pl-10 pt-2'>
    <li>
      <div class='flex items-center'>
        <span class='text-zinc-500'>2020</span>
        <span class='ml-2 mr-2'>—</span>
        <a href='https://markwild.dev/'>Old Portfolio</a>
        <p class='text-zinc-500'>
          <span class='ml-1 mr-1'>:</span> React, threejs, lovely design
        </p>
      </div>
    </li>
    <li>
      <div class='flex items-center'>
        <span class='text-zinc-500'>2020</span>
        <span class='ml-2 mr-2'>—</span>
        <a href='https://github.com/MorkWood2/olem'>Water Design Page</a>
        <p class='text-zinc-500'>
          <span class='ml-1 mr-1'>:</span> Fictitious website built mostly in
          css
        </p>
      </div>
    </li>
    <li>
      <div class='flex items-center'>
        <span class='text-zinc-500'>2020</span>
        <span class='ml-2 mr-2'>—</span>
        <a href='https://github.com/MorkWood2/olem'>Olem Inc.</a>
        <p class='text-zinc-500'>
          <span class='ml-1 mr-1'>:</span> Apparel site using React, Redux, &
          Firebase
        </p>
      </div>
    </li>
    <li>
      <div class='flex items-center'>
        <span class='text-zinc-500'>2020</span>
        <span class='ml-2 mr-2'>—</span>
        <a href='https://github.com/MorkWood2/east-bay-react'>East Bay React</a>
        <p class='text-zinc-500'>
          <span class='ml-1 mr-1'>:</span> A weekly online East Bay React Meetup
          group
        </p>
      </div>
    </li>
    <li>
      <div class='flex items-center'>
        <span class='text-zinc-500'>2020</span>
        <span class='ml-2 mr-2'>—</span>
        <a href='https://github.com/MorkWood2/save-team'>Save Team!</a>
        <p class='text-zinc-500'>
          <span class='ml-1 mr-1'>:</span> React site that raises awareness
          about a program I benefited from in High School
        </p>
      </div>
    </li>
    <li>
      <div class='flex items-center'>
        <span class='text-zinc-500'>2019</span>
        <span class='ml-2 mr-2'>—</span>
        <a href='https://github.com/MorkWood2/neo-art'>Art_Project_2</a>
        <p class='text-zinc-500'>
          <span class='ml-1 mr-1'>:</span> Public art project
        </p>
      </div>
    </li>
    <li>
      <div class='flex items-center'>
        <span class='text-zinc-500'>2019</span>
        <span class='ml-2 mr-2'>—</span>
        <a href='https://github.com/MorkWood2/React-github-search'
          >Github User Search</a
        >
        <p class='text-zinc-500'>
          <span class='ml-1 mr-1'>:</span> React Github user search app
        </p>
      </div>
    </li>
    <li>
      <div class='flex items-center'>
        <span class='text-zinc-500'>2019</span>
        <span class='ml-2 mr-2'>—</span>
        <a href='https://github.com/MorkWood2/people-finder'>People Finder</a>
        <p class='text-zinc-500'>
          <span class='ml-1 mr-1'>:</span> Full stack MERN React app using react
          hooks, context, JWT authentication
        </p>
      </div>
    </li>
    <li>
      <div class='flex items-center'>
        <span class='text-zinc-500'>2018</span>
        <span class='ml-2 mr-2'>—</span>
        <a href='https://morkwood2.github.io/Public_Art_Map/'>Public Art Map</a>
        <p class='text-zinc-500'>
          <span class='ml-1 mr-1'>:</span> An interactive map of public art in
          the Bay Area
        </p>
      </div>
    </li>
  </ul>
</BaseLayout>
