---

---

<div class="header">
    <a href="/">
    Mark Wild
    </a>
</div>
<style>
	.header{
        display: flex;
        border-bottom: 1px solid #c2c2c2;
  
    }

    .header a  {
        align-items: center;
        padding: 1rem 0 1rem 1rem;
        text-decoration: none;
        color: black;

    }
</style>