---

---

<div class="flex justify-between">
    <a href="/" class="font-bold text-2xl">
    Mark Wild
    </a>

    <div class="flex sm:gap-6 gap-4 rounded-full overflow-hidden border border-solid border-gray-200 shadow-sm hover:shadow-md transition-shadow	 ">
        <a href="" class=" text-sm	flex-grow h-9 flex items-center justify-center pl-6 text-slate-500">Blog</a>
        <a href="/about/" class=" text-sm	flex-grow h-9 flex items-center justify-center text-slate-500">Projects</a>
        <a href="" class=" text-sm	flex-grow h-9 flex items-center justify-center pr-6 text-slate-500 ">Resume</a>
      </div>
      
</div>
