---

---

<div class=''>
  <p class='text-3xl bold pb-10 font-roboto'>Work</p>
  <img src='/images/rocket.jpg' alt='Rocket Launch' class='rounded-lg border' />
  <p class='text-2xl pt-10 font-roboto'>Building Bridges in Manufacturing</p>

  <p class='text-2xl pt-5'>
    My vocation is collaboration and clear communication, which I bring to every
    role. The values I live by are simplicity, trust, and meaningful work.
  </p>
  <p class='text-2xl pt-5'>
    At <a
      href='https://astra.com/'
      target='_blank'
      rel='noopener noreferrer'
      class='text-blue-500 hover:underline'
      >Astra
    </a>, I built human-centered software to support aerospace manufacturing and
    developed tools for engineers to analyze flight and test vehicle
    performance. My foundation in manufacturing stems from my time working in
    inventory, where I interacted with nearly every part of the vehicle
    throughout its development lifecycle. Collaboration was key, working closely
    with engineering, the machine shop, quality control, finance, production,
    and supply chain teams. This teamwork demonstrated the transformative power
    of shared efforts, turning aspirations into reality and culminating in our
    first successful orbital launch.
  </p>
</div>
