---
import Topbar from '../components/Topbar.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
const year = new Date().getFullYear();
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class='bg-zinc-50 antialiased'>
      <div
        class='max-w-5xl mx-auto py-12 px-4 sm:px-12 md:px-16 bg-white min-h-screen flex flex-col items-stretch'
      >
        <Topbar />
        <slot />
        <div class='w-full border-t border-zinc-200 mt-14'>
          <div class='pt-4 text-sm text-zinc-500'>{year} © Mark Wild</div>
        </div>
      </div>
    </div>
  </body>
</html>
